body {
  background: red;
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
  font-size: 15px;
}

/**
 * Helper classes
 * **/
.lib-display-inline {
  display: inline !important;
}