div.Main {
  max-width: 600px;
  margin: 3em auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr;
  grid-template-rows: 50px 150px 50px;
  grid-template-areas:
      "head head . side"
      "main main . side"
      "footer footer footer footer";
}

div.Main .item-1 {
  grid-area: head;
  background: rgb(250, 192, 192);
}

div.Main .item-2 {
  grid-area: main;
  background: orange
}

div.Main .item-3 {
  grid-area: side;
  background: pink
}

div.Main .item-4 {
  grid-area: footer;
  background: #0A3442;
}

div.Main div.item-2 div.wrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas:
      "side-left side-right"
}
div.Main div.item-2 div.wrapper div.side-left {
  grid-area: side-left;
  background: rgb(209, 157, 44);
}

div.Main div.item-2 div.wrapper div.side-right {
  grid-area: side-right;
  background: rgb(209, 157, 44);
}