div.TodoArea .area {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-areas:
  'itemID itemControl'
  'itemName itemControl'
  'itemDesc itemControl'
  'itemDate itemControl';
  background-color: aquamarine;
  margin:5px;
}

div.TodoArea .area .itemID {
  grid-area: itemID;
}
div.TodoArea .area .itemName {
  grid-area: itemName;
}
div.TodoArea .area .itemDate {
  grid-area: itemDate;
}
div.TodoArea .area .itemDesc {
  grid-area: itemDesc;
}
div.TodoArea .area .itemControl {
  grid-area: itemControl;
}
