div.TodoArea .area {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-areas:
  'itemID itemName itemName itemControl'
  'itemDesc itemDesc itemDesc itemControl';
  background-color: aquamarine;
  margin:5px;
}

div.TodoArea .area .itemID {
  grid-area: itemID;
}
div.TodoArea .area .itemName {
  grid-area: itemName;
}
div.TodoArea .area .itemDate {
  grid-area: itemDate;
}
div.TodoArea .area .itemDesc {
  grid-area: itemDesc;
}
div.TodoArea .area .itemControl {
  grid-area: itemControl;
}
